<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Tom R." />
    <meta name="robots" content="noindex" />
    <meta name="robots" content="nofollow" />
    <meta name="googlebot" content="noindex" />
    <meta name="googlebot" content="nofollow" />

    <link rel="icon" type="image/png" href="{{ asset('assets/img/logo.png') }}" />

    <title>
      {{ site_title }} -{% block title %}

      {% endblock %}
    </title>
  </head>

  <body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f5f5f5;" leftmargin="0">
    {% block body %}

    {% endblock %}
  </body>
</html>
